body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: darkslategrey;
  color: white;
}

.key {
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 15px;
  text-align: center;
  flex-grow: 1;
  transition: all 0.3s;
  &:hover {
    background: rgb(79, 85, 85);
    border: 1px solid rgb(86, 92, 92);
  }
 
}

.pressed {
  background: rgb(57, 126, 120);
  &:hover {
    background: rgb(57, 126, 120);
    border: 1px solid rgb(57, 126, 120);
  }
}

.input {
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
}

.keyBoard {
  font-size: 2rem;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  width: 80vw;
  .rowBlock {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

.keyBoardLang {
  font-size: 32px;
  margin: 20px;
}
